
<h1>Author</h1>
<head>
	<%= yield :head %>
</head>
<body>
<%= image_tag "/assets/images/Harshita1.jpg" %>
	
<% yield %></body>

<% content_for :head do %>
  <title>A simple page</title>
<% end %>

<p>Hello, Rails!</p>



 <!-- <img src="/home/rails/Downloads/ganesha.jpg" alt="Girl in a jacket" width="500" height="600"> 
</p> -->
<%#= image_tag "/home/rails/Downloads/Harshita1.jpg" %>